NEXT_PUBLIC_SUPABASE_URL=https://nrovkaevclqaqswjexms.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yb3ZrYWV2Y2xxYXFzd2pleG1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1Njc5MTQsImV4cCI6MjA4OTE0MzkxNH0.AIV1-V2u2PKDqLy6PW_C8_6n29dQ3eIuF7AhgAJE_H0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yb3ZrYWV2Y2xxYXFzd2pleG1zIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU2NzkxNCwiZXhwIjoyMDg5MTQzOTE0fQ.skMgsRK1CPI1fLXz9qiIhsD7FdHe8C5x4-rmaGDGAig
RESEND_API_KEY=re_e3TKfAoj_9DT5EQVkEZ6hA9TwGZsUns7r
AFRICASTALKING_USERNAME=agendamoz        
AFRICASTALKING_API_KEY=atsk_cb4a259e7e41b1f3a43add626c4075a08ee259d886433216909fabea84500faa00f695ae
NEXT_PUBLIC_MPESA_NUMBER=84 036 6092
NEXT_PUBLIC_EMOLA_NUMBER=87 810 7439
NEXT_PUBLIC_APP_URL=http://localhost:3000
